<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ivyxjc.libra.core.dao.GcTransMapper">
    <resultMap id="GcTransBaseMapper" type="com.ivyxjc.libra.core.models.GoldCopyTransaction">
        <id column="GC_GUID" jdbcType="BIGINT" property="gcGuid"/>
        <result column="SOURCE_ID" jdbcType="BIGINT" property="sourceId"/>
        <result column="SEQUENCE" jdbcType="INTEGER" property="sequence"/>
        <result column="COMPOSITE_UNIQUE_ID" jdbcType="VARCHAR" property="compositeUniqueId"/>
        <result column="SSB_ASSET_ID" jdbcType="VARCHAR" property="ssbAssetId"/>
        <result column="SSB_TRADE_ID" jdbcType="VARCHAR" property="ssbTradeId"/>
        <result column="FUND_ID" jdbcType="VARCHAR" property="fundId"/>
        <result column="TRANS_TYPE" jdbcType="VARCHAR" property="transType"/>
        <result column="SOURCE_SYSTEM_ID" jdbcType="VARCHAR" property="sourceSystemId"/>
        <result column="CR_CCY_BASE" jdbcType="VARCHAR" property="crCcyBase"/>
        <result column="CR_ACCT_ID" jdbcType="VARCHAR" property="crAcctId"/>
        <result column="CR_ACCT_OFFICE" jdbcType="VARCHAR" property="crAcctOffice"/>
        <result column="CR_TRANS_AMOUNT" jdbcType="DECIMAL" property="crTransAmount"/>
        <result column="CR_CHECK" jdbcType="VARCHAR" property="crCheck"/>
        <result column="CR_TRANS_TYPE" jdbcType="VARCHAR" property="crTransType"/>
        <result column="CR_TRANS_RSN_CD" jdbcType="VARCHAR" property="crTransRsnCd"/>
        <result column="CR_VALUE_DATE" jdbcType="TIMESTAMP" property="crValueDate"
                typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
        <result column="CR_RSN_CD" jdbcType="VARCHAR" property="crRsnCd"/>
        <result column="DR_CCY_BASE" jdbcType="VARCHAR" property="drCcyBase"/>
        <result column="DR_ACCT_ID" jdbcType="VARCHAR" property="drAcctId"/>
        <result column="DR_ACCT_OFFICE" jdbcType="VARCHAR" property="drAcctOffice"/>
        <result column="DR_TRANS_AMOUNT" jdbcType="DECIMAL" property="drTransAmount"/>
        <result column="DR_CHECK" jdbcType="VARCHAR" property="drCheck"/>
        <result column="DR_TRANS_TYPE" jdbcType="VARCHAR" property="drTransType"/>
        <result column="DR_TRANS_RSN_CD" jdbcType="VARCHAR" property="drTransRsnCd"/>
        <result column="DR_VALUE_DATE" jdbcType="TIMESTAMP" property="drValueDate"
                typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
        <result column="DR_RSN_CD" jdbcType="VARCHAR" property="drRsnCd"/>
        <result column="REFERENCE_ID" jdbcType="VARCHAR" property="referenceId"/>
        <result column="RELATED_REFERENCE" jdbcType="VARCHAR" property="relatedReference"/>
        <result column="TRANS_DESC" jdbcType="VARCHAR" property="transDesc"/>
        <result column="CREATED_AT" jdbcType="TIMESTAMP" property="createdAt"
                typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
        <result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy"/>
        <result column="CREATED_FROM" jdbcType="VARCHAR" property="createdFrom"/>
        <result column="UPDATED_AT" jdbcType="TIMESTAMP" property="updatedAt"
                typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
        <result column="UPDATED_BY" jdbcType="VARCHAR" property="updatedBy"/>
        <result column="UPDATED_FROM" jdbcType="VARCHAR" property="updatedFrom"/>
    </resultMap>

    <insert id="insert" parameterType="com.ivyxjc.libra.core.models.GoldCopyTransaction">
        insert into LIBRA.GOLD_COPY_TRANSACTION (GC_GUID, SOURCE_ID, SEQUENCE,
        COMPOSITE_UNIQUE_ID, SSB_ASSET_ID, SSB_TRADE_ID,
        FUND_ID, TRANS_TYPE, SOURCE_SYSTEM_ID,
        CR_CCY_BASE, CR_ACCT_ID, CR_ACCT_OFFICE,
        CR_TRANS_AMOUNT, CR_CHECK, CR_TRANS_TYPE,
        CR_TRANS_RSN_CD, CR_VALUE_DATE, CR_RSN_CD,
        DR_CCY_BASE, DR_ACCT_ID, DR_ACCT_OFFICE,
        DR_TRANS_AMOUNT, DR_CHECK, DR_TRANS_TYPE,
        DR_TRANS_RSN_CD, DR_VALUE_DATE, DR_RSN_CD,
        REFERENCE_ID, RELATED_REFERENCE, TRANS_DESC,
        CREATED_AT, CREATED_BY, CREATED_FROM,
        UPDATED_AT, UPDATED_BY, UPDATED_FROM
        )
        values (#{gcGuid,jdbcType=BIGINT}, #{sourceId,jdbcType=BIGINT}, #{sequence,jdbcType=INTEGER},
        #{compositeUniqueId,jdbcType=VARCHAR}, #{ssbAssetId,jdbcType=VARCHAR}, #{ssbTradeId,jdbcType=VARCHAR},
        #{fundId,jdbcType=VARCHAR}, #{transType,jdbcType=VARCHAR}, #{sourceSystemId,jdbcType=VARCHAR},
        #{crCcyBase,jdbcType=VARCHAR}, #{crAcctId,jdbcType=VARCHAR}, #{crAcctOffice,jdbcType=VARCHAR},
        #{crTransAmount,jdbcType=DECIMAL}, #{crCheck,jdbcType=VARCHAR}, #{crTransType,jdbcType=VARCHAR},
        #{crTransRsnCd,jdbcType=VARCHAR}, #{crValueDate,jdbcType=TIMESTAMP}, #{crRsnCd,jdbcType=VARCHAR},
        #{drCcyBase,jdbcType=VARCHAR}, #{drAcctId,jdbcType=VARCHAR}, #{drAcctOffice,jdbcType=VARCHAR},
        #{drTransAmount,jdbcType=DECIMAL}, #{drCheck,jdbcType=VARCHAR}, #{drTransType,jdbcType=VARCHAR},
        #{drTransRsnCd,jdbcType=VARCHAR}, #{drValueDate,jdbcType=TIMESTAMP}, #{drRsnCd,jdbcType=VARCHAR},
        #{referenceId,jdbcType=VARCHAR}, #{relatedReference,jdbcType=VARCHAR}, #{transDesc,jdbcType=VARCHAR},
        #{createdAt,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=VARCHAR}, #{createdFrom,jdbcType=VARCHAR},
        #{updatedAt,jdbcType=TIMESTAMP}, #{updatedBy,jdbcType=VARCHAR}, #{updatedFrom,jdbcType=VARCHAR}
        )
    </insert>

    <update id="updateByGuid" parameterType="com.ivyxjc.libra.core.models.GoldCopyTransaction">
        update GOLD_COPY_TRANSACTION
        set SOURCE_ID = #{sourceId,jdbcType=BIGINT},
        SEQUENCE = #{sequence,jdbcType=INTEGER},
        COMPOSITE_UNIQUE_ID = #{compositeUniqueId,jdbcType=VARCHAR},
        SSB_ASSET_ID = #{ssbAssetId,jdbcType=VARCHAR},
        SSB_TRADE_ID = #{ssbTradeId,jdbcType=VARCHAR},
        FUND_ID = #{fundId,jdbcType=VARCHAR},
        TRANS_TYPE = #{transType,jdbcType=VARCHAR},
        SOURCE_SYSTEM_ID = #{sourceSystemId,jdbcType=VARCHAR},
        CR_CCY_BASE = #{crCcyBase,jdbcType=VARCHAR},
        CR_ACCT_ID = #{crAcctId,jdbcType=VARCHAR},
        CR_ACCT_OFFICE = #{crAcctOffice,jdbcType=VARCHAR},
        CR_TRANS_AMOUNT = #{crTransAmount,jdbcType=DECIMAL},
        CR_CHECK = #{crCheck,jdbcType=VARCHAR},
        CR_TRANS_TYPE = #{crTransType,jdbcType=VARCHAR},
        CR_TRANS_RSN_CD = #{crTransRsnCd,jdbcType=VARCHAR},
        CR_VALUE_DATE = #{crValueDate,jdbcType=TIMESTAMP},
        CR_RSN_CD = #{crRsnCd,jdbcType=VARCHAR},
        DR_CCY_BASE = #{drCcyBase,jdbcType=VARCHAR},
        DR_ACCT_ID = #{drAcctId,jdbcType=VARCHAR},
        DR_ACCT_OFFICE = #{drAcctOffice,jdbcType=VARCHAR},
        DR_TRANS_AMOUNT = #{drTransAmount,jdbcType=DECIMAL},
        DR_CHECK = #{drCheck,jdbcType=VARCHAR},
        DR_TRANS_TYPE = #{drTransType,jdbcType=VARCHAR},
        DR_TRANS_RSN_CD = #{drTransRsnCd,jdbcType=VARCHAR},
        DR_VALUE_DATE = #{drValueDate,jdbcType=TIMESTAMP},
        DR_RSN_CD = #{drRsnCd,jdbcType=VARCHAR},
        REFERENCE_ID = #{referenceId,jdbcType=VARCHAR},
        RELATED_REFERENCE = #{relatedReference,jdbcType=VARCHAR},
        TRANS_DESC = #{transDesc,jdbcType=VARCHAR},
        CREATED_AT = #{createdAt,jdbcType=TIMESTAMP},
        CREATED_BY = #{createdBy,jdbcType=VARCHAR},
        CREATED_FROM = #{createdFrom,jdbcType=VARCHAR},
        UPDATED_AT = #{updatedAt,jdbcType=TIMESTAMP},
        UPDATED_BY = #{updatedBy,jdbcType=VARCHAR},
        UPDATED_FROM = #{updatedFrom,jdbcType=VARCHAR}
        where GC_GUID = #{gcGuid,jdbcType=BIGINT}
    </update>

    <select id="queryByGuid" parameterType="java.lang.Long" resultMap="GcTransBaseMapper">
        select GC_GUID, SOURCE_ID, SEQUENCE, COMPOSITE_UNIQUE_ID, SSB_ASSET_ID, SSB_TRADE_ID,
        FUND_ID, TRANS_TYPE, SOURCE_SYSTEM_ID, CR_CCY_BASE, CR_ACCT_ID, CR_ACCT_OFFICE, CR_TRANS_AMOUNT,
        CR_CHECK, CR_TRANS_TYPE, CR_TRANS_RSN_CD, CR_VALUE_DATE, CR_RSN_CD, DR_CCY_BASE,
        DR_ACCT_ID, DR_ACCT_OFFICE, DR_TRANS_AMOUNT, DR_CHECK, DR_TRANS_TYPE, DR_TRANS_RSN_CD,
        DR_VALUE_DATE, DR_RSN_CD, REFERENCE_ID, RELATED_REFERENCE, TRANS_DESC, CREATED_AT,
        CREATED_BY, CREATED_FROM, UPDATED_AT, UPDATED_BY, UPDATED_FROM
        from GOLD_COPY_TRANSACTION
        where GC_GUID = #{gcGuid,jdbcType=BIGINT}
    </select>

</mapper>