<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.ivyxjc.libra.core.dao.GcTransMapper">
    <resultMap id="GcTransBaseMapper" type="xyz.ivyxjc.libra.core.models.GoldCopyTransaction">
        <id column="GC_GUID" jdbcType="BIGINT" property="gcGuid"/>
        <result column="SOURCE_ID" jdbcType="BIGINT" property="sourceId"/>
        <result column="SEQUENCE" jdbcType="INTEGER" property="sequence"/>
        <result column="COMPOSITE_UNIQUE_ID" jdbcType="VARCHAR" property="compositeUniqueId"/>
        <result column="SSB_ASSET_ID" jdbcType="VARCHAR" property="ssbAssetId"/>
        <result column="SSB_TRADE_ID" jdbcType="VARCHAR" property="ssbTradeId"/>
        <result column="FUND_ID" jdbcType="VARCHAR" property="fundId"/>
        <result column="TRANS_TYPE" jdbcType="VARCHAR" property="transType"/>
        <result column="SOURCE_SYSTEM_ID" jdbcType="VARCHAR" property="sourceSystemId"/>
        <result column="CR_CCY_BASE" jdbcType="VARCHAR" property="crCcyBase"/>
        <result column="CR_ACCT_ID" jdbcType="VARCHAR" property="crAcctId"/>
        <result column="CR_ACCT_OFFICE" jdbcType="VARCHAR" property="crAcctOffice"/>
        <result column="CR_TRANS_AMOUNT" jdbcType="DECIMAL" property="crTransAmount"/>
        <result column="CR_CHECK" jdbcType="VARCHAR" property="crCheck"/>
        <result column="CR_TRANS_TYPE" jdbcType="VARCHAR" property="crTransType"/>
        <result column="CR_TRANS_RSN_CD" jdbcType="VARCHAR" property="crTransRsnCd"/>
        <result column="CR_VALUE_DATE" jdbcType="TIMESTAMP" property="crValueDate"
                typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
        <result column="CR_RSN_CD" jdbcType="VARCHAR" property="crRsnCd"/>
        <result column="DR_CCY_BASE" jdbcType="VARCHAR" property="drCcyBase"/>
        <result column="DR_ACCT_ID" jdbcType="VARCHAR" property="drAcctId"/>
        <result column="DR_ACCT_OFFICE" jdbcType="VARCHAR" property="drAcctOffice"/>
        <result column="DR_TRANS_AMOUNT" jdbcType="DECIMAL" property="drTransAmount"/>
        <result column="DR_CHECK" jdbcType="VARCHAR" property="drCheck"/>
        <result column="DR_TRANS_TYPE" jdbcType="VARCHAR" property="drTransType"/>
        <result column="DR_TRANS_RSN_CD" jdbcType="VARCHAR" property="drTransRsnCd"/>
        <result column="DR_VALUE_DATE" jdbcType="TIMESTAMP" property="drValueDate"
                typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
        <result column="DR_RSN_CD" jdbcType="VARCHAR" property="drRsnCd"/>
        <result column="REFERENCE_ID" jdbcType="VARCHAR" property="referenceId"/>
        <result column="RELATED_REFERENCE" jdbcType="VARCHAR" property="relatedReference"/>
        <result column="TRANS_DESC" jdbcType="VARCHAR" property="transDesc"/>
        <result column="CREATED_AT" jdbcType="TIMESTAMP" property="createdAt"
                typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
        <result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy"/>
        <result column="CREATED_FROM" jdbcType="VARCHAR" property="createdFrom"/>
        <result column="UPDATED_AT" jdbcType="TIMESTAMP" property="updatedAt"
                typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
        <result column="UPDATED_BY" jdbcType="VARCHAR" property="updatedBy"/>
        <result column="UPDATED_FROM" jdbcType="VARCHAR" property="updatedFrom"/>
    </resultMap>


    <select id="queryByGuid" parameterType="java.lang.Long" resultMap="GcTransBaseMapper">
        select GC_GUID, SOURCE_ID, SEQUENCE, COMPOSITE_UNIQUE_ID, SSB_ASSET_ID, SSB_TRADE_ID,
        FUND_ID, TRANS_TYPE, SOURCE_SYSTEM_ID, CR_CCY_BASE, CR_ACCT_ID, CR_ACCT_OFFICE, CR_TRANS_AMOUNT,
        CR_CHECK, CR_TRANS_TYPE, CR_TRANS_RSN_CD, CR_VALUE_DATE, CR_RSN_CD, DR_CCY_BASE,
        DR_ACCT_ID, DR_ACCT_OFFICE, DR_TRANS_AMOUNT, DR_CHECK, DR_TRANS_TYPE, DR_TRANS_RSN_CD,
        DR_VALUE_DATE, DR_RSN_CD, REFERENCE_ID, RELATED_REFERENCE, TRANS_DESC, CREATED_AT,
        CREATED_BY, CREATED_FROM, UPDATED_AT, UPDATED_BY, UPDATED_FROM
        from GOLD_COPY_TRANSACTION
        where GC_GUID = #{gcGuid,jdbcType=BIGINT}
    </select>

</mapper>