<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ivyxjc.libra.core.dao.RawTransMapper">
    <resultMap id="BaseResultMap" type="com.ivyxjc.libra.core.models.RawTransaction">
        <id column="GUID" jdbcType="INTEGER" property="guid"
            typeHandler="com.ivyxjc.libra.core.dao.handler.GuidLongHandler"/>
        <result column="SOURCE_ID" jdbcType="INTEGER" property="sourceId"/>
        <result column="SEQUENCE" jdbcType="INTEGER" property="sequence"/>
        <result column="MSG_ID" jdbcType="VARCHAR" property="msgId"/>
        <result column="VERSION" jdbcType="INTEGER" property="version"/>
        <result column="DUPLICATE_FLG" jdbcType="INTEGER" property="duplicateFlg"/>
        <result column="CREATED_AT" jdbcType="TIMESTAMP" property="createdAt"
                typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
        <result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy"/>
        <result column="CREATED_FROM" jdbcType="VARCHAR" property="createdFrom"/>
        <result column="UPDATED_AT" jdbcType="TIMESTAMP" property="updatedAt"
                typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
        <result column="UPDATED_BY" jdbcType="VARCHAR" property="updatedBy"/>
        <result column="UPDATED_FROM" jdbcType="VARCHAR" property="updatedFrom"/>
        <result column="RAW_RECORD" jdbcType="LONGNVARCHAR" property="rawRecord"/>
    </resultMap>
    <insert id="insertRaw" parameterType="com.ivyxjc.libra.core.models.RawTransaction">
        insert into RAW_TRANSACTION (GUID, SOURCE_ID, SEQUENCE,
        MSG_ID, CREATED_AT, CREATED_BY,
        CREATED_FROM, VERSION,DUPLICATE_FLG,RAW_RECORD)
        values (#{guid,jdbcType=INTEGER},
        #{sourceId,jdbcType=INTEGER},
        #{sequence,jdbcType=INTEGER},
        #{msgId,jdbcType=VARCHAR},
        current_timestamp,
        current_user,
        current_user,
        #{version,jdbcType=INTEGER},
        #{duplicateFlg,jdbcType=INTEGER},
        #{rawRecord,jdbcType=LONGVARCHAR})
    </insert>
</mapper>